<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{subject}}</title>
	</head>
	<body>
		<p>
			Dear {{first_name}} {{last_name}},<br>
			I can confirm your message has been successfully received and will be
			responded to as soon as reasonably possible.

			<blockquote>
				<b>From:</b> {{first_name}} {{last_name}} &lt;{{email}}&gt;<br>
				<b>Subject:</b> {{subject}}<br>
				{{#if number}}
				<b>Number:</b> {{number}}
				{{/if}}
				<br>
				{{message}}
			</blockquote>
		</p>
	</body>
</html>
